<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head', {title: '| Restaurantes'}) %> 

<body>

    <%- include('../partials/header', {restaurante : '#'}) %> 

    <main>
        <span class="title">Restaurantes</span>
        <hr>
        <div class="PhoneBook">

            <% contacts.forEach(contact => { %>
                <div class="contact">

                    <p> <%= contact.title %>  </p>
                    <button>
                        <a href=" <%= contact.link %> ">
                            <img src="Whatsapp.svg" alt="Whatsapp">
                        </a>
                    </button>

                </div>
            <% }); %> 

           
        </div>
    </main>

    <%- include('../partials/footer') %> 

</body>
</html>